body{
    background-color: #BD9354;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #5D5D5A;
}
h2{
    font-family: monospace;
    color: #5f4444;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: 9E7540;
    border-width: 5px;
    width: 5%;

}